body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#feedback,header,#quotes,#contact,#description,#attractions{
    display: flex;
    flex-direction: column;
    align-items: center;

}